[package]
edition = "2021"
name = "boilr"
version = "1.9.4"

[dependencies]
base64 = "^0.21.0"
config = "^0.13.3"
copypasta = "^0.10.0"
flate2 = "^1.0.25"
is_executable = "^1.0.1"
nom = "^7.1.1"
rusty-leveldb = "^3.0.0"
serde_json = "^1.0.91"

steam_shortcuts_util = "^1.1.8"
steamgriddb_api = "^0.3.1"
sysinfo = "^0.30.5"
eyre = "^0.6.8"
color-eyre = "^0.6.2"
dyn-clone = "^1.0.10"
time = {version="^0.3.17", features = ["formatting"]}
egui_extras = { version = "0.25.0", features = ["all_loaders"] }
walkdir = "2.4.0"

[target."cfg(not(windows))".dependencies]
openssl = { version = "*", features = ["vendored"] }

[dependencies.dashmap]
features = ["serde"]
version = "^5.4.0"

[dependencies.eframe]
version = "^0.25.0"

[dependencies.egui]
version = "^0.25.0"

[dependencies.futures]
version = "^0.3.25"

[dependencies.image]
features = ["png","webp","jpeg"]
version ="^0.24.5"
#git = "https://github.com/PhilipK/image"
#rev = "55a668409b28fedcd6cd3dea25ae1b3cc9d25ec5"

[dependencies.reqwest]
default_features = false
version = "^0.11.13"

[dependencies.serde]
features = ["derive"]
version = "^1.0.151"

[dependencies.tokio]
features = ["full"]
version = "^1.24.2"

[dependencies.toml]
version = "^0.8.0"
[target."cfg(windows)"]
[target."cfg(windows)".build-dependencies]
winres = "^0.1.12"

[target."cfg(windows)".dependencies]
winreg = "^0.52.0"
sqlite = "^0.32.0"
roxmltree = "^0.19.0"

[features]
# This feature is enabled when building for a flatpak environment
flatpak = []

#[profile.release]
#codegen-units = 1
#opt-level = "z"  # Optimize for size.
#lto = true