[package]
edition = "2021"
name = "boilr"
version = "1.4.3"

[dependencies]
base64 = "^0.13.0"
chrono = "^0.4.19"
config = "^0.13.2"
copypasta = "^0.8.1"
flate2 = "^1.0.24"
is_executable = "^1.0.1"
nom = "^7.1.1"
rusty-leveldb = "^1.0.3"
serde_json = "^1.0.83"
sqlite = "^0.27.0"
steam_shortcuts_util = "^1.1.8"
steamgriddb_api = "^0.3.0"
sysinfo = "^0.25.1"

[dependencies.dashmap]
features = ["serde"]
version = "^5.3.4"

[dependencies.eframe]
version = "^0.18.0"

[dependencies.egui]
version = "^0.18.1"

[dependencies.futures]
version = "^0.3.21"

[dependencies.image]
features = ["png"]
version = "^0.24.3"

[dependencies.reqwest]
default_features = false
version = "^0.11.11"

[dependencies.serde]
features = ["derive"]
version = "^1.0.142"

[dependencies.tokio]
features = ["full"]
version = "^1.20.1"

[dependencies.toml]
version = "^0.5.9"

[target]
[target."cfg(windows)"]
[target."cfg(windows)".build-dependencies]
winres = "^0.1.12"

[target."cfg(windows)".dependencies]
winreg = "^0.10.1"

[profile.release]
incremental = true