[package]
edition = "2021"
name = "boilr"
version = "1.7.3"

[dependencies]
base64 = "^0.13.0"
chrono = "^0.4.22"
config = "^0.13.2"
copypasta = "^0.8.1"
flate2 = "^1.0.24"
is_executable = "^1.0.1"
nom = "^7.1.1"
rusty-leveldb = "^1.0.4"
serde_json = "^1.0.83"

steam_shortcuts_util = "^1.1.8"
steamgriddb_api = "^0.3.1"
sysinfo = "^0.26.4"
eyre = "^0.6.8"
color-eyre = "^0.6"
dyn-clone = "^1.0.9"

[dependencies.sqlite]
version = "^0.27.0"

[dependencies.dashmap]
features = ["serde"]
version = "^5.3.4"

[dependencies.eframe]
version = "^0.19.0"

[dependencies.egui]
version = "^0.19.0"

[dependencies.futures]
version = "^0.3.23"

[dependencies.image]
features = ["png","webp","jpeg"]
git = "https://github.com/PhilipK/image"
rev = "55a668409b28fedcd6cd3dea25ae1b3cc9d25ec5"

[dependencies.reqwest]
default_features = false
version = "^0.11.11"

[dependencies.serde]
features = ["derive"]
version = "^1.0.144"

[dependencies.tokio]
features = ["full"]
version = "^1.20.1"

[dependencies.toml]
version = "^0.5.9"

[target]
[target."cfg(windows)"]
[target."cfg(windows)".build-dependencies]
winres = "^0.1.12"

[target."cfg(windows)".dependencies]
winreg = "^0.10.1"

[features]
# This feature is enabled when building for a flatpak environment
flatpak = []

[profile.release]
strip = true  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = true
codegen-units = 1

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# # Enable high optimizations for dependencies but not for BoilR code:
[profile.dev.package."*"]
opt-level = 3
