name: Test on Push

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test_Ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1    
    - name: Rust Cache
      uses: Swatinem/rust-cache@v1.3.0    
    - name: dependencies
      run: |
        sudo apt-get update 
        sudo apt-get install -y libx11-dev libxext-dev libxft-dev libxinerama-dev libxcursor-dev libxrender-dev libxfixes-dev libpango1.0-dev libpng-dev libgl1-mesa-dev libglu1-mesa-dev
    - name: Test
      run: |        
        cargo test
  test_Windows:
    runs-on: windows-latest    
    steps:
    - uses: actions/checkout@v1
    - name: Install latest stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Rust Cache
      id: rust_cache
      uses: Swatinem/rust-cache@v1.3.0    
    - name: Test
      run: cargo test
  test_Macos:
    runs-on: macos-latest    
    steps:
    - uses: actions/checkout@v1
    - name: Install latest stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Rust Cache
      id: rust_cache
      uses: Swatinem/rust-cache@v1.3.0    
    - name: Test
      run: cargo test

